.contenedorHome {
    position: relative;
    margin-top: 10%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Wallpoet', cursive;
    min-height: 500px;

}

.contenedorCarusel {
    grid-area: carusel;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.74);
    height: 300px;
    width: 100%;

}

.carusel {
    position: relative;
    height: 300px;
}

.imagenHome {
    height: 300px;
}

.tituloHome {
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.74);

}

.textoCarusel {
    background-color: rgba(0, 0, 0, 0.30);
    color: red;
    height: 70px;
    border-radius: 10px;
    margin: auto;
    position: relative;
}