.footerprincipal {
    color: aliceblue;
    margin-bottom: 0%;
    margin-top: 15px;
    display: grid;
    flex-direction: column;
    width: 100%;
    flex-direction: row;
    background-color: #212529;
    flex: 1;
    max-height: 257px;
}

li {
    list-style-type: none;
}

.col {
    /* font-family: 'Wallpoet', cursive; */
    display: inline-block;
    margin: auto;
}

.fila {
    padding: 10px;
}