.ItemContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 44em;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    margin-right: 15px;
    box-sizing: content-box;
}

.card-body {
    text-align: center;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Wallpoet', cursive;

}

.card-tittle{
    box-sizing:none;
}
.card-img-top {
    height: 100%;
}

