.contenedor {
    text-align: center;
    width: 100%;

}

.comprar {
    width: 100%;
    position: relative;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: 'Wallpoet', cursive;
    
}


.cuenta {
    font-family: 'Wallpoet', cursive;
    background-color: antiquewhite;

}

.boton {
    font-weight: bolder;
    font-size: 2em;
    width: 100%;
    position: relative;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-family: 'Wallpoet', cursive;
}

.boton:disabled {
    opacity: 0.5;
    transition: all ease-in-out 0.5s;
}