.ItemContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start; 
    
    
}
.card{
    margin-left: 5px;
    width: 14rem;
}

.card-body {
    text-align: center;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Wallpoet', cursive;

}


.card-img-top{
    height: 350px;
    width: 180px;
}