.navbar{
position: fixed;
width: 100%;
}

.marca, .nav-link {
    font-family: 'Wallpoet', cursive;

}
.marca{
    position: relative;
    margin-left: 50px;
}
.nav-link{
    font-size: 20px;
}
.cartContainer{
    margin: left 0px; ;
}

.dropdown{
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}