.navbar {
    position: fixed;
    width: 100%;

}

.marca, .nav-link {
    font-family: 'Wallpoet', cursive;

}

.marca {
    position: relative;
    margin-left: 50px;
    color: white;
}

.nav-link {
    font-size: 20px;

}

.cartContainer {
    margin: left 0px;
    ;
}

.link-blanco{
    color: white;
}

.NavDropdown{
   color: white;
}